body {
    padding: 20px;
    font-family: "poppins", sans-serif;
    background: #27292c;
    color: white;
}

h1 {
    margin-top: 30px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-list{
    list-style: none;
    display: flex;
}
.navitems{
    margin-left: 3rem;
    font-size: 1.1rem;
}
.navlogo{
    width: 45px;
}